.metadata/
PinSafeApplet/bin/
PinSafeApplet/src/ps_applet/javacard/ps_applet.cap
PinSafeApplet/src/ps_applet/javacard/
PinSafe_sw/.vs/
PinSafe_sw/Debug/
PinSafe_sw/PinSafe/Debug/

RemoteSystemsTempFiles/
PinSafe_hw/PinSafe/PinSafe.kicad_pcb-bak
PinSafe_hw/PinSafe/PinSafe.net
PinSafe_hw/PinSafe/PinSafe-cache.lib
PinSafe_hw/PinSafe/PinSafe.bak
